body{
    background: #f4f4f9;
    line-height: 1.6;
    font-family: arial,sans-serif;
    margin: 0;
}
header{
    background: teal;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
nav{
    position: sticky;
    max-width: 600px;
    padding: 10px;
    top: 0;
    background: #2c3e50;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
}
nav a{
   text-decoration: none;
   color: #fff;
   margin: 0 15px;
   border-radius: 20px;
}
section{
    min-height: 100vh;
    scroll-margin-top: 50px;
}
h2{
    border-bottom: 2px solid grey;
    width: fit-content;
}
.link-container{
    max-width: 600px;
    border: none;
    background: linear-gradient(135deg,grey,peachpuff,lightskyblue);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}
.link{
    display: inline-block;
    margin: 0 15px;
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}
.input-group{
    max-width: 400px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(45deg,pink,peachpuff,lightskyblue);
    padding: 30px;
    box-shadow: 0 8px 32px rgba(0,0,0.2);
}
form{
    display: flex;
    flex-direction: column;
}
input,textarea{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
}
label{
 margin-top: 10px;
}
nav a:hover{
    color: aqua;
}
footer{
    text-align: center;
    background:teal;
    color: #fff;
    padding: 10px;
}
.typing-text{
    overflow: hidden;
    white-space: nowrap;
    max-width: 240px;
    width: fit-content;
    border-right: 3px solid;
    animation: typing 6s steps(30,end), blink-caret .75s step-end infinite;
    font-size: 18px;
    font-family: monospace;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes blink-caret{
    from,to{
        border-color: transparent;
    }50%
    {border-color: black;}
}
.text{
    color: teal;
    width: fit-content;
    white-space: nowrap;
    border-right:3px solid;
    overflow: hidden;
    font-size: 15px;
    animation: typing 5s steps(30,end), blink-caret .75s step-end infinite;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}